html {
    font-family: sans-serif;
    background-color: #1f2937; 
    color: #f9faf8;
}
/* Header Section */
.logo {
    font-size: 24px;
    font-weight: 725;
    padding: 20px;
}
.navbar {
    font-size: 18px;
    padding: 20px;
}
ul {
    list-style: none;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
}
li {
    padding: 20px;
    display: inline;
}
 /* unvisited link */
 a:link {
    color: #e5e7eb;
    text-decoration: none;
  }
  /* visited link */
  a:visited {
    color: green;
  }
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  /* selected link */
  a:active {
    color: #1f2937;
  } 



  /* Hero Section */
  /* whole section */
.hero {
    display: inline-flex;
    height: 450px;
    flex-direction: row;
    align-items: center;
    
}
/* text and button section */
.heroContainer {
    height: auto;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    float:left
}
h1 {
    color: #f9faf8;
    text-align: left;
    font-size: 48px;
    margin-bottom: 0%;
    margin-top: 0%;
    font-weight: 600;
}
h3 {
    margin-top: 0%;
    margin-bottom: 2%;
    font-weight: 400;
    color: #b6b4b4;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    font-weight: 600;
}
/* image section */
.heroImage {
    align-items: left;
    margin: 100px;
}
/* Information Section */
.container {
    display: flex;
    text-align: justify;
    text-justify: inter-character;
    color: #1f2937;
    background-color: #f9faf8;
    justify-content: center;
    text-align-last: center;
    height: auto;
    width: 100vw;
}
.item {
    position: relative;
    padding: 5px;
    margin: 50px;
    width: 150px;
    height: auto;
    border: 4px solid #3882f6;
    background: #f9faf8;
    border-radius: 20px;
    align-items: center;
}
h2 {
    position: absolute;
    padding-bottom: 5%;
    margin-bottom: 5%;
    text-align: center;
   
}
/* Quote Section */
#quote {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 15%;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
}
/* Call to Action Section */
.call-to-action {
    background-color: #f9faf8;
    width: fit-content;
    height: 350px;
    dispay: flex;
}
#cta {
    width: 80%;
    border-radius: 10px;
    height: 200px;
    background-color: #3882f6;
    text-align: center;
    margin: 20px;
    padding: 30px;
    color: #f9faf8;
    display: flex;
}
#content {
    background-color: lawngreen;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-content: center;
}
.buttonToo {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-weight: 900;
    text-align: center;
    border: 120px;
    border-color: #f9faf8;
}
/* Footer Section */
footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 40px;
}